.venv/
**/.venv/
.mvn/
**/.mvn/
logs/
**/logs/
images/
**/images/
# 其它常见忽略
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.log
.DS_Store
.env
target/
**/target/

# 数据/模型/缓存/大文件
all_paths.txt
long_paths.txt
*.tgz

# Java/Maven/IDE相关
.idea/
.mvn/
.mvn/wrapper/

# 虚拟环境缓存
CACHEDIR.TAG
.lock
pyvenv.cfg 