fastapi>=0.115.12
uvicorn>=0.24.0
pymilvus==2.3.4
sentence-transformers==2.2.2
python-dotenv>=1.1.0
fastmcp>=2.3.4
nest_asyncio==1.6.0
transformers==4.30.2
huggingface_hub==0.16.4
marshmallow>=3.13,<4.0
httpx>=0.28.1
torch>=2.1.2